<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <machineKey validation="SHA1" decryption="AES" validationKey="3A61F0473177B54AD033EC9181AC93BB01A77C05" decryptionKey="9B4D02C5338E261C2E962752291BA039664CBAF09AF20848A084F997E76863F5" />
  </system.web>
  <appSettings>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>