@page
@model ABSUploadClient.MB.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>Провайдер</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Рассчетный счет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleBrief.Accout)
        </dd>
        <dt class="col-sm-2">
            Краткое название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModuleBrief.ModuleValue)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ModuleBrief.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
