@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Клиент загрузки Excel файлов в систему Каскад Нажмите 'Загрузить файл Excel' </p>
</div>
